@font-face {
    font-family: bigilla bold;
    src: url("../c/Bigilla-Bold.otf") format('truetype');
}

@font-face {
    font-family: bigilla;
    src: url("../c/Bigilla.otf") format('truetype');
}

@font-face {
    font-family: quillen;
    src: url("../c/quillen-k7qay.otf") format('truetype');
}

@font-face {
    font-family: Balgor;
    src: url("../c/Balgor.ttf") format('truetype');
}

@font-face {
    font-family: feldberg;
    src: url("../c/Feldberg.ttf") format('truetype');
}

@font-face {
    font-family: Soligant;
    src: url("../c/Soligant.ttf") format('truetype');
}

@font-face {
    font-family: whimsterglympse;
    src: url("../c/
whimsterglympsedemo-k7j2z.otf") format('truetype');
}
