@font-face {
    font-family: bigilla bold;
    src: url("../c/Bigilla-Bold.otf") format('truetype');
}

@font-face {
    font-family: bigilla;
    src: url("../c/Bigilla.otf") format('truetype');
}

@font-face {
    font-family: quillen;
    src: url("../c/quillen-k7qay.otf") format('truetype');
}

@font-face {
    font-family: Balgor;
    src: url("../c/Balgor.ttf") format('truetype');
}

@font-face {
    font-family: feldberg;
    src: url("../c/Feldberg.ttf") format('truetype');
}

@font-face {
    font-family: Soligant;
    src: url("../c/Soligant.ttf") format('truetype');
}

@font-face {
    font-family: whimsterglympse;
    src: url("../c/whimsterglympsedemo-k7j2z.otf") format('truetype');
}

@font-face {
    font-family: coco regular;
    src: url("../c/coco-regular.otf") format('truetype');
}

@font-face {
    font-family: coco bold;
    src: url("../c/coco-bold.otf") format('truetype');
}

@font-face {
    font-family: coco bold condensed;
    src: url("../c/coco-boldcondensed.otf") format('truetype');
}

@font-face {
    font-family: coco bold italic;
    src: url("../c/coco-bolditalic.otf") format('truetype');
}

@font-face {
    font-family: coco condensed;
    src: url("../c/coco-condensed.otf") format('truetype');
}

@font-face {
    font-family: coco italic condensed;
    src: url("../c/coco-condenseditalic.otf") format('truetype');
}

@font-face {
    font-family: hugiller;
    src: url("../c/Hugiller DEMO.otf") format('truetype');
}

@font-face {
    font-family: belianty italic;
    src: url("../c/Belianty Elesha Italic.otf") format('truetype');
}

@font-face {
    font-family: belianty;
    src: url("../c/Belianty Elesha.otf") format('truetype');
}

@font-face {
    font-family: cigra;
    src: url("../c/Cigra Free Demo.otf") format('truetype');
}

@font-face {
    font-family: gishella italic;
    src: url("../c/Gishella Morely Italic.otf") format('truetype');
}

@font-face {
    font-family: gishella;
    src: url("../c/Gishella Morely.otf") format('truetype');
}

@font-face {
    font-family: hatolie;
    src: url("../c/Hatolie.ttf") format('truetype');
}

@font-face {
    font-family: kaftan;
    src: url("../c/kaftan-trial.otf") format('truetype');
}

@font-face {
    font-family: new york;
    src: url("../c/NewYork PERSONAL USE.otf") format('truetype');
}

@font-face {
    font-family: oranienbaum;
    src: url("../c/Oranienbaum.ttf") format('truetype');
}

@font-face {
    font-family: ring netlike;
    src: url("../c/Ring Netlike_dafont.otf") format('truetype');
}

@font-face {
    font-family: romans story;
    src: url("../c/Romans Story.otf") format('truetype');
}

@font-face {
    font-family: vigran maroll;
    src: url("../c/Vigran Maroll.otf") format('truetype');
}

@font-face {
    font-family: remboy;
    src: url("../c/RemboyRegular.ttf") format('truetype');
}

@font-face {
    font-family: neco regular;
    src: url("../c/Neco-Regular.ttf") format('truetype');
}

@font-face {
    font-family: neco medium;
    src: url("../c/Neco-Medium.ttf") format('truetype');
}

@font-face {
    font-family: neco medium italic;
    src: url("../c/Neco-MediumItalic.ttf") format('truetype');
}

@font-face {
    font-family: neco italic;
    src: url("../c/Neco-Italic.ttf") format('truetype');
}

@font-face {
    font-family: neco bold;
    src: url("../c/Neco-Bold.ttf") format('truetype');
}

@font-face {
    font-family: neco bold italic;
    src: url("../c/Neco-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: neco black;
    src: url("../c/Neco-Black.ttf") format('truetype');
}

@font-face {
    font-family: neco black italic;
    src: url("../c/Neco-BlackItalic.ttf") format('truetype');
}

@font-face {
    font-family: neco variable;
    src: url("../c/Neco-Variable.ttf") format('truetype');
}

@font-face {
    font-family: neco variable italic;
    src: url("../c/Neco-VariableItalic.ttf") format('truetype');
}

@font-face {
    font-family: one v1;
    src: url("../c/Amiamie-Black.ttf") format('truetype');
}

@font-face {
    font-family: one v2;
    src: url("../c/Amiamie-BlackItalic.ttf") format('truetype');
}

@font-face {
    font-family: one v3;
    src: url("../c/Amiamie-BlackItalicRound.ttf") format('truetype');
}

@font-face {
    font-family: one v4;
    src: url("../c/Amiamie-BlackRound.ttf") format('truetype');
}

@font-face {
    font-family: one v5;
    src: url("../c/Amiamie-Italic.ttf") format('truetype');
}

@font-face {
    font-family: one v6;
    src: url("../c/Amiamie-ItalicRound.ttf") format('truetype');
}

@font-face {
    font-family: one v7;
    src: url("../c/Amiamie-Light.ttf") format('truetype');
}

@font-face {
    font-family: one v8;
    src: url("../c/Amiamie-LightItalic.ttf") format('truetype');
}

@font-face {
    font-family: one v9;
    src: url("../c/Amiamie-Regular.ttf") format('truetype');
}

@font-face {
    font-family: one v10;
    src: url("../c/Amiamie-RegularRound.ttf") format('truetype');
}

@font-face {
    font-family: two;
    src: url("../c/BagdollDisplay-Regular.otf") format('truetype');
}

@font-face {
    font-family: three;
    src: url("../c/Checkmate Typeface.ttf") format('truetype');
}

@font-face {
    font-family: four;
    src: url("../c/Chuby Style Font Demo by Keithzo.otf") format('truetype');
}

@font-face {
    font-family: five;
    src: url("../c/Equilla.otf") format('truetype');
}

@font-face {
    font-family: six v1;
    src: url("../c/GOMini-Goofy.ttf") format('truetype');
}

@font-face {
    font-family: six v2;
    src: url("../c/GOMini-GoofyOutline.ttf") format('truetype');
}

@font-face {
    font-family: six v3;
    src: url("../c/Gromer-Outline.otf") format('truetype');
}

@font-face {
    font-family: seven v1;
    src: url("../c/Ike.ttf") format('truetype');
}

@font-face {
    font-family: seven v2;
    src: url("../c/IkeBold.ttf") format('truetype');
}

@font-face {
    font-family: eight v1;
    src: url("../c/NT Somic-VF.ttf") format('truetype');
}

@font-face {
    font-family: eight v2;
    src: url("../c/NTSomic-Bold.otf") format('truetype');
}

@font-face {
    font-family: eight v3;
    src: url("../c/NTSomic-Medium.otf") format('truetype');
}

@font-face {
    font-family: eight v4;
    src: url("../c/NTSomic-Regular.otf") format('truetype');
}

@font-face {
    font-family: nine;
    src: url("../c/Pilowlava-Regular.otf") format('truetype');
}

@font-face {
    font-family: ten;
    src: url("../c/TheNightWatch.ttf") format('truetype');
}

@font-face {
    font-family: eleven v1;
    src: url("../c/UltraSquared-Shadow.otf") format('truetype');
}

@font-face {
    font-family: eleven v2;
    src: url("../c/UltraSquared-Solid.otf") format('truetype');
}

@font-face {
    font-family: eleven v3;
    src: url("../c/UltraSquared-outlines.otf") format('truetype');
}

@font-face {
    font-family: twelve v1;
    src: url("../c/Venus+Acier.otf") format('truetype');
}

@font-face {
    font-family: twelve v2;
    src: url("../c/Venus+Carrare.otf") format('truetype');
}

@font-face {
    font-family: twelve v3;
    src: url("../c/Venus+Cormier.otf") format('truetype');
}

@font-face {
    font-family: twelve v4;
    src: url("../c/Venus+Martre.otf") format('truetype');
}

@font-face {
    font-family: twelve v5;
    src: url("../c/Venus+Plomb.otf") format('truetype');
}

@font-face {
    font-family: thirteen;
    src: url("../c/ZT Yaglo Thin.otf") format('truetype');
}

@font-face {
    font-family: fourteen;
    src: url("../c/le-murmure.otf") format('truetype');
}

@font-face {
    font-family: fifteen;
    src: url("../c/rogre.otf") format('truetype');
}

@font-face {
    font-family: sixteen;
    src: url("../c/CottonFields-7BdmA.ttf") format('truetype');
}

@font-face {
    font-family: seventeen;
    src: url("../c/SaltymussyDemo-rgKd7.otf") format('truetype');
}

@font-face {
    font-family: eighteen;
    src: url("../c/Courthes-nRldY.otf") format('truetype');
}

@font-face {
    font-family: nineteen;
    src: url("../c/Mifelin-ax65K.otf") format('truetype');
}

@font-face {
    font-family: twenty;
    src: url("../c/Gravhez.otf") format('truetype');
}
